# Visual Studio / .NET Core
[Bb]in/
[Oo]bj/
out/
.vs/
.vscode/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/

# Local configuration
appsettings.Development.json
database-configs.json
*.local.json

# Web & Node
node_modules/
.npm/

# Logs
*.log
